# Python
__pycache__/
*.pyc
.venv/
.env

# Node
node_modules/
build/
dist/

# Docker
*.log
*.pid
*.sock

# OS
.DS_Store

# Terraform
.terraform/
*.tfstate
*.tfstate.backup

# Ansible
*.retry

# IDEs
.vscode/
.idea/
